*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
assests/Screenshot_1510684601.png
*.apk
mobile/release/output.json
release/output.json
